.content {
    text-align: center;
    width: 50%;
    margin: 0 25%;
}
.confirmButtons {
    width: 45%;
    margin: 10px 0 15px 0;
    padding: 10px;
    background: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border: 1px solid white;
}
.confirmButtons:hover {
    background: var(--accent);
    border: 1px solid var(--accent);
    transition: all 1.5s ease;
    cursor: pointer;
}
.confirmButtons:active {
    transform: scale(0.98);
}
#changePicture {
    height: 250px;
    border-radius: 10px;
    display: none;
    max-height: 100%;
    max-width: 100%;
    width: 100%
}
#left:hover #changePicture {
    display: block;
}
.userProfile {
    width: 90%;
    margin: 20px 5%;
    display: flex;
    flex-direction: row;
}
#left {
    display: inline;
    width: 20%;
    position: relative;
    height: 250px;
}
#left img {
    position: absolute;
    top: 0;
    left: 0;
}
.currentAccountInfo {
    width: 55%;
    padding-left: 20px;
}
.currentAccountInfo h3 {margin-bottom: 40px;}
.editButtons {
    width: 25%;
}
#edit_top {
    height: 85%;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
}
#edit_left, #edit_right {
    width: 50%;
    padding: 5px;
}
#edit_left h3, #edit_right input {
    width: 96%;
    margin: 0 2% 30px 2%;
}
#edit_left h3 {height: 33px;}
#edit_bottom {
    height: 15%;
    padding: 15px 20px;
}